body {
    background-color: #20222a;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    max-width: 1280;
}

header {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 4px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.topbar {
    max-width: 1920px;
    overflow: hidden;
    background-color: #ffffff;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    width: 90%;
}

.topbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
}

.topbar a:hover {
  background-color: #20222a;
}

.topbar a.active {
    float: left;
}

img{
    height: 50px;
}

h1 {
    display: block;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #ffffff;
    max-width: 1080px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    background-color: #ffffff;
    max-width: 1080px;
}

.main-container{
    background-color: white;
    text-align: center;
    max-width: 1920px;
    margin: auto;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
    align-items: center;
}

.link-input{
    display: block;
    max-width: 1080px;
    padding-bottom: 25px;
}


.link-field{
    width: 420px;
    background: #ffffff;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 15px 10px;
    height: 20px;
}

.dl-button{
    background-color: #20222a;
    color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: black;
    height: 50px;
    width: 70px;
}

.dl-button:hover {
	background-color: red;
}

.dl-button.active {
    background: orange;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.parameters{
    padding-top: 45px;
}

.timestamp-field{
    width: 420px;
    background: #ffffff;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    margin-top: 20px;
    padding: 15px 10px;
    height: 20px;
}

.dl-options{
    padding-top: 35px;
    padding-bottom: 35px;
    display: block;
}

.option{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: black;
    height: fit-content;
    width: fit-content;
    padding-bottom: 20px;
    padding: 15px 25px;
    font: inherit;
}

.option:hover{
    background: #20222a;
    color: white;
}

.option.active{
    background: orange;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.loading{
    display: none;
    background: url(/static/img/loading.gif) no-repeat;
    cursor: wait;
    margin: auto;
    align-items: center;
    padding-bottom: 35px;
}

.loading img{
    width: 100px;
    height: 100px
}

.instructions{
    border: 2px solid black;
    box-sizing: border-box;
    padding-top: 35px;
}

.column {
    display: block;
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    height: 200px;
    margin: auto;
    text-align: center;
    align-items: center;
}

.column img{
    padding-top: 5px;
    width: 175px;
    height: 175px;
}

.instruction-point{
    height: 50px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row a {
    display: block;
    font-size: 15px;
    text-decoration: none;
}

@media screen and (max-width:720px) {
  .column {
    width: 100%;
  }
}
