<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dl.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/error.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icon-small.ico') }}">
</head>
<body>
    <header>
        <div class="topbar">
            <a class="active" href="/">
                <img src="img/logo-01.png" alt="YTDL logo">
            </a>
            <a href="/">
                <img src="img/title-01.png" alt="Yt Downloader">
            </a>
        </div>
    </header>

    <div class="main-container">
        <h1>Download Error</h1>

        <div class="dl-container">
            <div>
                {{ error_message }}
            </div>
        </div>
        <div class="redirect-back" id="redirect-back">
            <a class="option" href="/">Try again</a>
        </div>
    </div>

    <footer>

    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>