<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yt Downloader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page.css') }}"/>
</head>
<body>
    <header>
        <div class="topbar">
            <a class="active">
                <img src="img/logo-01.png" alt="YTDL logo">
            </a>
            <a>
                <img src="img/title-01.png" alt="Yt Downloader">
            </a>
        </div>
    </header>

    <div class="main-container">
        <h1>YT Downloader</h1>
        <h3>Download video from Yt – Cut Yt video – Download and cut audio-only</h3>

        <div class="link-input">
            <form class="yt-link" method="post" action="/">
                <input name="link-field" type="url" class="link-field" placeholder="Insert link here" pattern="^(http(s)??\:\/\/)?(www\.)?((youtube\.com\/watch\?v=)|(youtu.be\/))([a-zA-Z0-9\-_])+">
                <input type="submit" class="email button" value="Submit">

                <div class="parameters">
                    <input name="audio-only" type="checkbox">
                    <div class="timestamp-input">
                        <input name="timestamp-field" type="text" placeholder="00:00 00:00">
                    </div>
                </div>
            </form>

        </div>

        <div class="dl-options">
            {{ options }}
        </div>
    </div>

    <footer>

    </footer>
</body>
</html>